@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

html,body, .main{
    width: 100vw;
    height: auto;
    margin: 0px;
    padding: 0px;
    line-height: 3em;
    background-color: #fffafa;
}
.fadein{
    opacity: 0;
    transform: translate(0. 50px);
    transition: all 1500ms;
}
.fadein.scrollin{
    opacity: 1;
    transform: translate(0, 0);
}
#Header{
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/billiard2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px;
}
.HeaderTitle{
    font-family: 'Anton', sans-serif;
    position: absolute;
    line-height: 1em;
    margin-top: 0;
    left: 55vw;
    top: 35vh;
    font-size: 5em;
    color: #ffffff;
}
.navToggle {
    display: block;
    position: fixed;
    right: 15px;
    top: 5px;
    cursor: pointer;
    z-index: 3;
    text-align: center;
    font-size: 3em;
    color: #000000;
    transition-duration: 0.8s;
}
.navToggle:hover{
    color: #808080;
    transform: translateY(-0.05em);
}
.GlobalMenu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 25vw;
    background: #fff;
    color: #000;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.6s;
    width: 50%;
}
.GlobalMenu ul {
    background: #ccc;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.GlobalMenu ul li {
    font-size: 1.1em;
    list-style-type: none;
    padding: 0;
}
.MainMenu li {
    border-bottom: 1px dotted #333;
}
.GlobalMenu ul li a {
    display: block;
    color: #000;
    padding: 1em 0;
}
.GlobalMenu.active {
    transform: translateY(0%);
}
.social li {
    width: 10%;
    display: inline-block;
    padding-bottom: 0;
    border-bottom: none;
}
.caption {
    margin-top: 5em;
    font-family: 'Anton', sans-serif;
    font-size: 2.8em;
    text-align: center;
}
#Profile{
    margin-top: 0;
}
.ProfileBody{
    text-align: center;
    font-size: 1.5em;
}
.box-list{
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}
.box{
    float: left;
    width: 30%;
    height: auto;
    margin: 2em auto;
    text-align: center;
    background: #ffffff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box h3{
    background: #708090;
    color: #ffffff;
    font-size: 1.7em;
    margin: 0;
    padding: 0.5em 0;
}
.box ul li{
    text-align: left;
    font-size: 1.3em;
    margin: 0.3em;
}
.box img{
    vertical-align: bottom;
}
.box p{
    text-align: center;
    font-size: 1.3em;
    margin: 0.3em;
}
.BlogBody{
    text-align: center;
    font-size: 1.5em;
}
.ContactBody{
    text-align: center;
    list-style-type: none;
    font-size: 1.5em;
}
footer{
    text-align:center;
}